<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/bootstrap.css">

  </head>

  <body>

    <h1><%= @title %></h1>

      <table class="table table-hover">
        <% @team_win_loss[0].each do |key,value| %>
        <th>
          <%= key.to_s %>
        </th>
        <% end %>

        <% @team_win_loss.each do |nested_hash| %>
          <tr>
            <% nested_hash.each do |key, value| %>
              <td><%= value %></td>
            <% end %>
          </tr>
        <% end %>
      </table>


     <%= @leaderboard_array %>


  </body>

</html>

