<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/bootstrap.css">

  </head>

  <body>

    <h1><%= @title %></h1>

      <table class="table table-hover">
        <% @teams_update_wins_losses[0].each do |key,value| %>
        <th>
          <%= key.to_s.capitalize %>
        </th>
        <% end %>

        <% @teams_update_wins_losses.each do |nested_hash| %>
          <tr>
            <% nested_hash.each do |key, value| %>
              <% if key == :team %>
                <td>
                  <a href="/teams/<%= value %>">
                    <%= value %>
                  </a>
                </td>
              <% else %>
                <td>
                  <%= value %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>


<!--      <%= @teams_wins_losses %> -->


  </body>

</html>

