<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/bootstrap.css">

  </head>

  <body>

    <h1><%= @team_name %> Team Page</h1>

    <h3>Wins: <%= @team_hash[:wins] %><br>
      Losses: <%=  @team_hash[:losses] %>
    </h3>


    <table class="table table-hover">

<!--Table Header-->
      <% @leaderboard_array[0].each do |key,value| %>
      <th>
        <%= key.capitalize %>
      </th>
      <% end %>

<!--Game information-->
      <% @leaderboard_array.each do |game| %>
        <tr>
          <% if (game[:home_team] == @team_name) || (game[:away_team] == @team_name) %>
            <% game.each do |key, value| %>
              <% if (key == :home_team) || (key == :away_team) %>
                <td>
                  <a href="/teams/<%= value %>">
                    <%= value %>
                  </a>
                </td>
              <% else %>
                <td><%= value %></td>
              <% end %> <!--end the if/else statement-->
            <% end %> <!--end the game.each loop-->
          <% end %> <!--end the if home/away team is the current team's page-->
        </tr>
      <% end %> <!--end @leaderboard_array.each loop-->


    </table>




<br><br>
    <p><a href="..">
      Back to Leaderboard
    </a></p>

  </body>

</html>

